*{
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
}
/*============header================================================*/

.intro {
    height: 540vh;
    background-color: #242635;
    }

    :root {
        font-family: 'Montserrat', sans-serif;
    }
    
    a {
        text-decoration: none;
    }

    i {
        text-decoration:none;
    }
    
    ul {
        list-style: none;
    }

    
    /*========================layout==============================*/

    .row {
        display: flex;
    }

    .container {
        width: 90%;
        max-width: 1080px;
        margin:auto
    }
    
    .col-1 {
        width: 20%;
    }

    .col-2 {
        width: 40%;
    }
    
    .col-3 {
        width: 40%;
        text-align:end;
    }
    
    .col-4 {
        width: 100%;
        text-align:end;
        margin-top: 18%;
    }

    .col-5 {
        display:inline-flex;
        width: 100%;
        background-color: grey;
        justify-content: space-between;
        border-radius: 10px;
    }

    
    .col-6 {
    width: 100%;
    }

    .col-7 {
        width: 100%;
    }

    .col-8 {
        width: 100%;
    }

    .col-9 {
        width: 100%;
        text-align: center;
    }

    .col-10 {
        width: 100%;
    }
    
    .col-11 {
        width: 100%;
        text-align: right;
    }

/*===========================main=================================*/

    .menu {
    width: 100%;
    }

    .menu li {
    display: inline-block;
    padding: 30px 20px;
    margin-left: 6%;
    
    }

    .menu a {
       color: #d1ceca;; 
    }

h1 {
    font-size: 1rem;
    font-weight: 600px;
    color: #d1ceca;
    padding: 15%;
} 
h2 {
    font-size: 40px;
    font-weight: 600px;
    text-decoration:overline #d1ceca;
    color: #34b0be;
    padding: 3%;
    position: relative;
}
h3 {
    font-size: 1rem;
    font-weight: 600px;
    color: #ffffff;
    padding: 10%;
    position:relative;
}

.img-container {
    display:inline-flex;
    justify-content:center;
    width: 200px;
    height: 200px;
    background-color: #d1ceca;
    border-radius: 50%;
}

 img {
    display: inline-flex;
    max-width: 100%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#d1ceca;
    border-radius: 50%;
    } 

h4 {
    font-size: 1rem;
    font-weight: 600px;
    color: #34b0be;
    padding: 5%;
}

h5 {
    font-size: 1rem;
    font-weight: 600px;
    color:#ffffff;
    padding: 3%;
}

.icon-container {
    display:inline-block;
    width: 35px;
    height: 35px;
    background-color:#d1ceca;
    border-radius: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.icon-container-coloritem {
    display:inline-block;
    width: 35px;
    height: 35px;
    background-color:#242635;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.color-icon-white {
    color: #d1ceca;
}



.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: 0 24px;
    color: #d1ceca;
}

.nav-menu {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
}

.nav-branding {
    font-size: 2rem;
    }

 .text-right {
    text-align: right;
} 

.nav-item {
    margin: 5px 0;
}

 .nav-link {
    transition: 0.7 ease;
}

 nav {
    background-color:#242635;
} 

 nav {
    max-height: 100vh;
    transition: max-height-1s;
} 

 .hidden {
    max-height: 0;
    overflow:hidden;
}  

nav a, .icon-menu {
    color:#d1ceca;
    padding: 5px 10px;
    display: inline-block;
}

.nav-link:hover {
    color: #34b0be
}

.links-container {
    display:inline-block;
    width: 25%;
    max-height: 50%;
    background-color:#d1ceca;
    border-radius: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links-style {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
}

.title-style {
    display:inline-flex;
    justify-content:center;
    font-size: 20px;
    font-weight: 600px;
    color: #34b0be;
    padding: 5%;
    text-align: center;
}

h6 {
    text-align: center;
    width: 100%;
}

.paragraph {
    text-align:center;
    color: #d1ceca;
    padding: 10% 20%;
}

/* Footer===================================== */

.cards-position {
    display: inline-block;
    text-align: center;
}

.card {
    display: inline-flex;
    text-align:justify;
    justify-content: center;
    flex-direction: column;
    background-color:#d1ceca;
    border-radius: 10%;
    padding: 10%;
    max-height: 50%;
    margin-bottom: 20px;
    max-width: 60%;
}

.progress-bar {
    display: inline-block;
    text-align:center;
    width: 100%;
    }

    .bar-size {
        max-height: max-content;
    }

.imgs-style {
    border-radius: 0;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.contact-phone {
    display:inline-flex;
    justify-content: flex-start;
    }

.contact-email {
    display:inline-flex;
    justify-content: flex-end;
    margin-left: 30%;
    }

    /*tablet*/
    @media(min-width: 768px) {
        
        .row {
            display:flex;
        }

        .intro {
            height: 600vh;
            background-color: #242635;
            }

        .img-container {
            display:inline-flex;
            justify-content:center;
            width: 450px;
            height: 450px;
            background-color: #d1ceca;
            border-radius: 50%;
        }

        h1 {
            font-size: 2.5rem;
        } 

        h2 {
            font-size: 6rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 2rem;
        }

        h5 {
            font-size: 2.2rem;
        }

        .icon-container {
            width: 70px;
            height: 70px;
            font-size: 2rem;
        }

        .icon-container-coloritem {
            width: 75px;
            height: 75px;
            font-size: 2rem;
        }

        .style-stars {
            font-size: 5rem;
        }

        h6 {
            font-size: 4rem;
            height: 50%;
        }

        .title-style {
            font-size: 2rem;
        }
    }  
    
    /* Desktop */
@media(min-width: 992px) {
    
    .lg-hidden {
        display: none;
    }

    #main-menu {
        display:block;
    }
    .intro {
        height: 900vh;
        background-color: #242635;
        }

    .row {
        display:flex;
    }

    .img-container {
        display:inline-flex;
        justify-content:center;
        width: 700px;
        height: 700px;
        background-color: #d1ceca;
        border-radius: 50%;
    }

    h1 {
        font-size: 4rem;
    } 

    h2 {
        font-size: 8rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 3rem;
    }

    .icon-container {
        width: 90px;
        height: 90px;
        font-size: 2rem;
    }

    .icon-container-coloritem {
        width: 90px;
        height: 90px;
        font-size: 2rem;
    }

    .style-stars {
        font-size: 6rem;
    }

    h6 {
        font-size: 2rem;
        height: 50%;
        text-align: justify;
    }

    .title-style {
        font-size: 2rem;
    }

.menu {
width: 100%;
}
.menu li {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    }  
    
    #main-menu {
        max-height: none;
        }


 .menu a {
   color: #d1ceca;; 
}
.row {
display: flex;
}

.menu {
width: 100%;
}
.menu li {
background-color: transparent;
display: inline-flex;
justify-content:space-between;
} 

.nav-menu {
display: inline-flex;
justify-content: space-between;
flex-direction: row;
gap: 60px;
}

.card {
max-width: 30%;
padding: 5%;
}

.col-7 {
width: 100%;
padding: 10%;
display: inline-flex;
flex-direction: row;
justify-content: space-around;
} 

}