*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    background-color: #242635;
}

/*============header================================================*/

.intro {
    height: 100vh;
    }

    :root {
        font-family: 'Montserrat', sans-serif;
    }
    
    a {
        text-decoration: none;
    }

    i {
        text-decoration:none;
    }
    
    ul {
        list-style: none;
    }

    .menu {
    width: 100%;
    }

     .menu li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }   
 
/*==============layout=============================================*/

    .container {
        width: 90%;
        max-width: 1080px;
        margin:auto
    }

    .navbar {
        
        display: flex;
        justify-content: space-between;
        align-items: 0 24px;
        color: #d1ceca;
    }

    .nav-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:flex-start;
        /*gap: 60px;*/
    }

    .nav-branding {
        font-size: 2rem;
        }

     .text-right {
        text-align: right;
    } 
    
    .nav-item {
        margin: 5px 0;
    }

     .hidden {
        display: none;
    } 

     .nav-link {
        transition: 0.7 ease;
    }

     nav {
        background-color:#242635;
    } 

    nav {
        max-height: 100vh;
        transition: max-height-1s;
    }

    .hidden {
        max-height: 0;
        overflow:hidden;
    } 

    nav a, .icon-menu {
        color:#d1ceca;
        padding: 5px 10px;
        display: inline-block;
    }
    

    .nav-link:hover {
        color: #34b0be
    }
    
/*=============main============================================*/


.row {
    display: flex;
}

.col-2 {
    width: 66.66%;
}

.col-1 {
    width: 33.33%;
}

.col-3 {
    width: 50%;
    background-color: grey;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 10px;
}

.col-4 {
    width: 50%;
}

.col-5 {
    width: 50%;
}
 



h1 {
    font-size: 20px;
    font-weight: 600px;
    color: #d1ceca;
    padding: 15px;
} 
h2 {
    font-size: 55px;
    font-weight: 600px;
    text-decoration:overline #d1ceca;
    color: #34b0be;
    padding: 10px;
    position: relative;
}
h3 {
    font-size: 20px;
    font-weight: 600px;
    color: #ffffff;
    padding: 5px;
}

.img-container {
    display:inline-block;
    width: 200px;
    height: 200px;
    background-color:#d1ceca;
    border-radius: 50%;
    
    
}

 img {
    display: flex;
    max-width: 80%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#d1ceca;
    margin-left: 20px;
    border-radius: 50%;
    } 

.position-subtitle {
    margin-left: 75%;
}

h4 {
    font-size: 20px;
    font-weight: 600px;
    color: #34b0be;
    padding: 5px;
    margin-top: 15px;
}

h5 {
    font-size: 20px;
    font-weight: 600px;
    color:#ffffff;
    padding: 5px;
}

.style-stars {
    text-align: center;
    margin-left: 25%;
}

.icon-container {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color:#d1ceca;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.icon-container-coloritem {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color:#d1ceca;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links-container {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color:#d1ceca;
    border-radius: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.links-style {
    display: inline-flex;
    justify-content: space-around;
    width: 90%;
    padding: 10px;
}

.title-style {
    font-size: 20px;
    font-weight: 600px;
    color: #34b0be;
    padding: 5px;
    margin-top: 15px;
    text-align: center;
}

.col-6 {
    width: 100%;
}

.paragraph {
    text-align: justify;
    color: #d1ceca;
}

.col-7 {
    width: 100%;
    padding: 50px;
}

.cards-position {
    display: inline-block;
    text-align: center;
}

/* Components */
.card {
    display: inline-flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    background-color:#d1ceca;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    margin-bottom: 20px;
}

.col-8 {
    width: 100%;
}

.progress-bar {
    text-align: center;
    
    width: 100%;
    }

.col-9 {
    width: 100%;
}

.imgs-style {
    border-radius: 0%;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.col-10 {
    width: 50%;
}

.col-11 {
    width: 50%;
}

.contact-phone {
    margin-left: 10%;
    margin-top: 5%;
}

.contact-email {
    margin-left: 70%;
    margin-top: 10%;
}

 @media(min-width: 768px) {
    .row {
        display: flex;
    }
    
    .col-1 {
        width: 20%;
    }

    .col-2{
        width: 80%;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 8rem;
    }
    .img-container {
        display:inline-block;
        width: 400px;
        height: 400px;
        background-color: #d1ceca;
        border-radius: 50%;
        margin-left: 28%;
        }
    
     img {
        display: flex;
        max-width: 80%;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        background-color:#d1ceca;
        margin-left: 40px;
        border-radius: 50%;
        } 
        
    .col-3 {
        width: 50%;
        padding: 10px;
        margin-left: 47%;
    }

    h3 {
        font-size: 2rem;
        position: absolute;
    }
    
    .col-4 {
        width: 100%;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 3rem;
    }
    .position-subtitle {
        margin-left: 84%;
    }

/* Desktop */
@media(min-width: 992px) {
    
    .lg-hidden {
        display: none;
    }
    #main-menu {
        max-height: none;
    }

    .menu {
        width: 100%;
    }
      .menu li {
        background-color: transparent;
        display: flex;
        justify-content: flex-end;
    } 
    .menu a {
        color:#d1ceca;
    }
    /* nav li {
        display: inline-block;
    } */

    /* .menu li {
        display: inline-block;
        padding: 30px 20px;
        margin-left: 6%;
    } */
 
    /* .navbar {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: 0 24px;
    } */
    
    /* .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    } */
    
    /* .nav-branding {
        font-size: 2rem;
        } */
    
  /*   .nav-link {
        transition: 0.7 ease;
    } */
    
    /* .nav-link:hover {
        color: #34b0be
    } */
    
    /* .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #d1ceca;
    } */

h1 {
    font-size: 100px;
    font-weight: 600px;
    color: #d1ceca;
    padding: 15px;
} 
h2 {
    font-size: 205px;
    font-weight: 600px;
    text-decoration:overline #d1ceca;
    color: #34b0be;
    padding: 10px;
    position: relative;
}
h3 {
    font-size: 50px;
    font-weight: 600px;
    color: #ffffff;
    padding: 30px;
}

.img-container {
    display:inline-block;
    width: 600px;
    height: 600px;
    background-color: #d1ceca;
    border-radius: 50%;
    
    
}

 img {
    display: flex;
    max-width: 80%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    background-color:#d1ceca;
    margin-left: 60px;
    border-radius: 50%;
    } 

h4 {
    font-size: 50px;
    font-weight: 600px;
    color: #34b0be;
    padding: 15px;
    margin-top: 17px;
}

h5 {
    font-size: 50px;
    font-weight: 600px;
    color:#ffffff;
    padding: 15px;
}

.icon-container {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color:#d1ceca;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    }

.icon-container-coloritem {
    display:inline-block;
    width: 50px;
    height: 50px;
    background-color:#d1ceca;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.color-icon-white {
    color: #d1ceca;
} 

}
 }