*{
    margin-top: 0;
    font-size: 15px;
    box-sizing: border-box; 
    text-align: center;
}
/*============header================================================*/

.intro {
    padding: var(--padding-mobile);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    background-color: #242635;
    }

    :root {
        font-family: 'Montserrat', sans-serif;
        background-color: #242635;
    }
    
    a {
        text-decoration: none;
        
    }

    i {
        text-decoration:none;
    }
    
    ul {
        list-style: none;
    }
    
 
    /*========================layout==============================*/

    .container {
    padding: var(--padding-mobile);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
    z-index: 1;
     }
     
      .row {
        padding: var(--padding-mobile);
        display: grid;
        justify-items:flex-start;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    } 

    .col-1 {
    padding: var(--padding-mobile);
    display: flex;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    gap: 30px;
    width: 33%;
    margin-top: 5%;
    }

    .col-2 {
    padding: var(--padding-mobile);
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 67%;
    margin-top: 5%;
    }

     .img-container {
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #d1ceca;
        border-radius: 50%; 
        width: 100%;
    }  
    
     img {
        display: flex;
        max-width: 80%;
        justify-content: center;
        align-items: center;
        background-color:#d1ceca;
        border-radius: 50%;
        }  
    
    .col-3 {
    padding: var(--padding-mobile);
    display: inline-flex;
    justify-items: flex-start;
  /*   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 50px;
    width: 33.33%;
    }

    h1 {
    padding: var(--padding-mobile);
    display: grid;
    justify-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    /* font-size: 4rem; */
    color: #d1ceca;
    font-size: calc(2em + 2vw)
    } 

/* hr {
    font-size: 30rem;
} */

    h2 {
        padding: var(--padding-mobile);
        display: flex;
        justify-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        flex-wrap: wrap;
        gap: 20px;
        position: absolute;
        color:#34b0be;
        font-size: calc(6em + 6vw)
    }
    h3 {
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        gap: 10px;
        font-size: calc(2em + 2vw);
        color:#34b0be;
        position: relative;
    }
    
    
    
    h4 {
        display: flex;
        justify-content:flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        gap: 10px;
        font-size: calc(1em + 1vw);
        color:#ffffff;
        position: relative;
    }

    
    
    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color:#d1ceca;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        }

        .icons_pos {
            display: inline-flex;

        }
        

     /* .icon-container-coloritem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        background-color:#d1ceca;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        background-color: #242635;
        }  */

        .item_position{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
           }

        .col-4 {
            display: flex;
            justify-content:space-around;
            align-items:center;
            flex-wrap: wrap;
            gap:10px;
            background-color: gray;
            width: 50%;
            box-shadow:#34b0be;
        }

        .links-container {
            display: flex;
            background-color:#d1ceca;
            border-radius: 0;
            justify-content: center;
            align-items: center;
        } 
        
        /* .links-style {
            display: flex;
            justify-content: space-around;
            width: 100%;
            padding: 5%;
        } */

        .icon_style {
            width: 130px;
        }

    .col-5 {
        padding: var(--padding-mobile);
        display: grid;
        justify-items: center;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        gap: 20px;
        width: 33%;
        width: 100%;
        background-color: grey;
        border-radius: 10px;
        position: absolute;
    }

    
    .col-6 {
     padding: var(--padding-mobile);
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    }

    .col-7 {
        padding: var(--padding-mobile);
        display: flex;
        justify-content: space-evenly;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        flex-wrap: wrap;
        gap: 20px;
    }

    .col-8 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .portfolio_container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .card_portfolio {
        width: 300px;
        height: 250px;
        overflow: hidden;
        margin: auto;
        padding: 10px 30px;
        border-radius: 2%;
        border: 1px solid #d1ceca;
        transition: all .4s ease-in-out;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        /* display: flex;
        justify-content: center; */
        /* align-items: center;  */
        /* flex-wrap: wrap; */
        /* gap: 10%; */
        margin: auto;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px ;
        }
    
        .card_portfolio:hover{
            height: 500px;
            width: 300px;
            border-radius: 5px;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 3); 
        }
    
        .card_portfolio-header img {
            position: relative;
            /* border-radius: 50%; */
            display: block;
            height: 200px;
            width: 200px;
            border-top: 8px solid #d1ceca;
            border-bottom: 8px solid #d1ceca;
            object-fit: cover;
            margin: 20px auto;
            transition: all 0.3s ease;
        }

        .card_portfolio-header {
            position: relative;
        }

        .card_portfolio-header::before, .card_portfolio-header::after{
            content: '';
            position: absolute;
            opacity: .7;
        }

        .card_portfolio-header::before{
            border-radius: 50%;
            z-index: 20;
            background-color: yellow;
            width: 50px;
            height: 50px;
            top: 0;
            right: 25px;
        }

        .card_portfolio-header::after{
            width: 70px;
            height: 70px;
            bottom: 0;
            left: 10px;
            border-radius: 50px;
            background-color: rgb(23, 42, 98);
            transform: rotate(120deg);
        }

        .slide {
            opacity: 0;
            transition: all .5s ease;
            transform: translateY(-45px);
        }

        .big {
            transform: scale(0);
            opacity: 0;
            transition: all .4s ease;
        }

        .card-body:hover .big {
            opacity: 1;
            transform: scale(1);
        }

        .card-body:hover .slide {
            transform: translateY(0px);
            opacity: 1;
        }

        .btn {
            border: none;
            border-radius: 30px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.226);
            padding: 8px 15px;
            font-size: 16px;
            margin: 0 auto;
            /* display: flex;
            align-items: center;
            justify-content: center; */
            background-color: linear-gradient(90deg, #34b0be, #242635);
        }

        .btn:active {
            font-size: 12px;
            width: 100px;
            border: none;
            color: blue;
            position: relative;
            cursor: pointer;
            box-shadow: 1px 1px 5px 0 blue;
            transition: box-shadow 200 ms ease;
        }
    
        .col-9 {
            padding: var(--padding-mobile);
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px; 
            width: 940px;
            margin: auto;
            /* display: flex;
            justify-content:space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px; */
        }
    

    .col-10 {
        display: flex;
        justify-items: center;
        align-items:center;
        flex-wrap: wrap;
        gap: 20px;
    }
    
    .col-11 {
       display: flex;
       justify-content: flex-end;
       align-items: flex-end;
       flex-wrap: wrap;
       gap: 20px;
    }

/*===========================main=================================*/

    .menu {
    width: 100%;
    }

    .menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

    .menu a {
       color: #d1ceca;; 
    }



h5 {
    font-size: 1rem;
    font-weight: 600px;
    color:#ffffff;
    padding: 3%;
}





.color-icon-white {
    color: #d1ceca;
}



.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: 0 24px;
    color: #d1ceca;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
}

.nav-branding {
    font-size: 2rem;
    }

 .text-right {
    text-align: right;
} 

.nav-item {
    margin: 5px 0;
}

 .nav-link {
    transition: 0.7 ease;
}

 nav {
    background-color:#242635;
} 

 nav {
    max-height: 100vh;
    transition: max-height-1s;
} 

 .hidden {
    max-height: 0;
    overflow:hidden;
    position: fixed;
}  

nav a, .icon-menu {
    color:#d1ceca;
    padding: 5px 10px;
    display: inline-block;
}

.nav-link:hover {
    color: #34b0be
}



.title-style {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    font-weight: 600px;
    color: #34b0be;
    padding: 5%;
}


.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #d1ceca;
    padding: 10% 20%;
}

/* Footer===================================== */

.cards-position {
    display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background:linear-gradient((#d1ceca 250,0,0,0.5),transparent);
    background-color:#d1ceca;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    /* gap: 10%; */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px ;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.226);
}

.card {
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.progress-bar {
    display: inline-block;
    text-align:center;
    width: 100%;
    }

    .bar-size {
        max-height: max-content;
    }

.imgs-style {
    border-radius: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon_size {
    width: 30px;
}

.contact-phone {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background:linear-gradient((#d1ceca 250,0,0,0.5),transparent);
    background-color:#d1ceca;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    /* gap: 10%; */
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.226) 0px 0px 10px ;
    }

.contact-email {
    display: flex;
    justify-content:space-between;
    align-items: center;
    }

.cards_style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    /* position: absolute; */
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    cursor: pointer;
}

.button:hover {
    background-color:#34b0be;
    transition: 0.7s;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* .icon {
    width: 80px;
    position: absolute;
    top: 5px;
    left: 5px;
} */

/* @media(min-width: 540px) {

    .intro {
        height: 650vh;
        background-color: #242635;
    }
    .img-container {
        display:inline-flex;
        justify-content:center;
        width: 400px;
        height: 400px;
        background-color: #d1ceca;
        border-radius: 50%;
    }

    h1 {
        font-size: 1.5rem;
    } 

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    .icon-container {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    .icon-container-coloritem {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }

    .style-stars {
        font-size: 3rem;
    }

    h6 {
        font-size: 2rem;
        height: 50%;
    }

    .title-style {
        font-size: 1.5rem;
    }
}  

 */
    /*tablet*/
/*     @media(min-width: 768px) {

       .img-container {
            display:inline-flex;
            justify-content:center;
            background-color: #d1ceca;
            border-radius: 50%;
        }

        h1 {
            font-size: 2.5rem;
        } 

        h2 {
            font-size: 6rem;
        }

        h3 {
            font-size: 2.2rem;
        }

        h4 {
            font-size: 2rem;
        }

        h5 {
            font-size: 2.2rem;
        }

        .icon-container {
            width: 70px;
            height: 70px;
            font-size: 2rem;
        }

        .icon-container-coloritem {
            width: 75px;
            height: 75px;
            font-size: 2rem;
        }

        .style-stars {
            font-size: 5rem;
        }

        h6 {
            font-size: 4rem;
            height: 50%;
        }

        .title-style {
            font-size: 2rem;
        }
    }   */
    
    /* Desktop */
    @media screen and (min-width: 720px) {

    .lg-hidden {
        display: none;
    }

    #main-menu {
        display:block;
    }
    

    /*    .img-container {
        display:flex;
        justify-content:center;
        width: 700px;
        height: 700px;
        background-color: #d1ceca;
        border-radius: 50%;
    } */

   /*  h1 {
        font-size: 4rem;
    } 

    h2 {
        font-size: 8rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 3rem;
    }

    h5 {
        font-size: 3rem;
    } */
 
   /*  .icon-container {
        width: 90px;
        height: 90px;
        font-size: 2rem;
    }

    .icon-container-coloritem {
        width: 90px;
        height: 90px;
        font-size: 2rem;
    }

    .style-stars {
        font-size: 6rem;
    }

    h6 {
        font-size: 2rem;
        height: 50%;
        text-align: justify;
    }

    .title-style {
        font-size: 2rem;
    }
 */
.menu {
width: 100%;
}
.menu li {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    }  
    
    #main-menu {
        max-height: none;
        }


 .menu a {
   color: #d1ceca;; 
}
.row {
display: flex;
margin-top: 30px;
}

.menu {
width: 100%;
}
.menu li {
background-color: transparent;
display: flex;
justify-content:space-between;
} 

.nav-menu {
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 60px;
}

/* .card {
max-width: 30%;
padding: 5%;
} */

/* .col-7 {
width: 100%;
padding: 10%;
display: flex;
flex-direction: row;
justify-content: space-around;
} 
  */
} 